<nav class="side-nav bg-black text-white fixed w-full p-[8px_12px] bottom-0 md:h-screen md:w-[80px] xl:w-[250px] md:top-0 md:left-0 md:p-[12px]">
    <a href="#" class="desktop-brand hidden xl:block font-['instagram\_font'] text-[30px] p-[25px_15px] mb-[10px]">NotInstagram</a>
    <a href="#" class="responsive-brand hidden md:block xl:hidden p-[25px_15px] mb-[10px]">
        <span class="icon-container">
            <fa-icon [icon]="faInstagram" class="text-3xl"></fa-icon>
        </span>
    </a>
    <ul class="nav-list flex items-center justify-between md:flex-col">
        <li class="nav-item w-full">
            <a href="#" class="nav-link p-[12px] w-[56px] h-[56px] xl:w-[unset] xl:h-[unset] flex items-center justify-center xl:justify-start hover:bg-[rgb(18_18_18)] rounded-[100vh]">
                <span class="icon-container">
                    <fa-icon [icon] = "faHome" class="text-2xl"></fa-icon>
                </span>
                <span class="label-text pl-[16px] hidden xl:inline-block">Home</span>
            </a>
        </li>
        <li class="nav-item w-full hidden md:block">
            <a href="#" class="nav-link p-[12px] w-[56px] h-[56px] xl:w-[unset] xl:h-[unset] flex items-center justify-center xl:justify-start hover:bg-[rgb(18_18_18)] rounded-[100vh]">
                <span class="icon-container">
                    <fa-icon [icon] = "faMagnifyingGlass" class="text-2xl"></fa-icon>
                </span> 
                <span class="label-text pl-[16px] hidden xl:inline-block">Search</span>
            </a>
        </li>
        <li class="nav-item w-full">
            <a href="#" class="nav-link p-[12px] w-[56px] h-[56px] xl:w-[unset] xl:h-[unset] flex items-center justify-center xl:justify-start hover:bg-[rgb(18_18_18)] rounded-[100vh]">
                <span class="icon-container">
                    <fa-icon [icon] = "faCompass" class="text-2xl"></fa-icon> 
                </span>
                <span class="label-text pl-[16px] hidden xl:inline-block">Explore</span>
            </a>
        </li>
        <li class="nav-item w-full">
            <a href="#" class="nav-link p-[12px] w-[56px] h-[56px] xl:w-[unset] xl:h-[unset] flex items-center justify-center xl:justify-start hover:bg-[rgb(18_18_18)] rounded-[100vh]">
                <span class="icon-container">
                    <fa-icon [icon] = "faClapperboard" class="text-2xl"></fa-icon>
                </span>
                <span class="label-text pl-[16px] hidden xl:inline-block">Reels</span>
            </a>
        </li>
        <li class="nav-item w-full">
            <a href="#" class="nav-link p-[12px] w-[56px] h-[56px] xl:w-[unset] xl:h-[unset] flex items-center justify-center xl:justify-start hover:bg-[rgb(18_18_18)] rounded-[100vh]">
                <span class="icon-container">
                    <fa-icon [icon] = "faComment" class="text-2xl"></fa-icon>
                </span>
                <span class="label-text pl-[16px] hidden xl:inline-block">Messages</span>
            </a></li>
        <li class="nav-item w-full hidden md:block">
            <a href="#" class="nav-link p-[12px] w-[56px] h-[56px] xl:w-[unset] xl:h-[unset] flex items-center justify-center xl:justify-start hover:bg-[rgb(18_18_18)] rounded-[100vh]">
                <span class="icon-container">
                    <fa-icon [icon] = "faHeart" class="text-2xl"></fa-icon>
                </span>
                <span class="label-text pl-[16px] hidden xl:inline-block">Notifications</span>
            </a>
        </li>
        <li class="nav-item w-full">
            <a class="cursor-pointer nav-link p-[12px] w-[56px] h-[56px] xl:w-[unset] xl:h-[unset] flex items-center justify-center xl:justify-start hover:bg-[rgb(18_18_18)] rounded-[100vh]" (click)="toggleModal()">
                <span class="icon-container">
                    <fa-icon [icon] = "faSquarePlus" class="text-2xl"></fa-icon>
                </span>
                <span class="label-text pl-[16px] hidden xl:inline-block">Create</span>
            </a>
        </li>
        <li class="nav-item w-full">
            <a href="#" class="nav-link p-[12px] w-[56px] h-[56px] xl:w-[unset] xl:h-[unset] flex items-center justify-center xl:justify-start hover:bg-[rgb(18_18_18)] rounded-[100vh]">
                <span class="img-container w-[24px] h-[24px] rounded-full bg-slate-400 inline-block"></span>
                <span class="label-text pl-[16px] hidden xl:inline-block">Profile</span>
            </a>
        </li>
        <li class="nav-item w-full relative hidden md:block">
            <a class="cursor-pointer nav-link p-[12px] w-[56px] h-[56px] xl:w-[unset] xl:h-[unset] flex items-center justify-center xl:justify-start relative hover:bg-[rgb(18_18_18)] rounded-full md:rounded-[100vh]" (click)="toggleOptions()">
                <span class="icon-container">
                    <fa-icon [icon]="faBars" class="text-2xl"></fa-icon>
                </span>
                <span class="label-text pl-[16px] hidden xl:inline-block">More</span>

                <div class="dropdown-list absolute left-0 top-[-190px] rounded-md bg-[#262626] text-white w-full min-w-[225px] overflow-hidden" [ngClass]="showOptions ? 'block' : 'hidden'">
                    <button class="dropdown-item p-[10px_15px] block hover:bg-[rgb(18_18_18)] w-full text-left">Settings</button>
                    <button class="dropdown-item p-[10px_15px] block hover:bg-[rgb(18_18_18)] w-full text-left">Saved</button>
                    <button class="dropdown-item p-[10px_15px] block hover:bg-[rgb(18_18_18)] w-full text-left">Switch Appearance</button>
                    <button class="dropdown-item p-[10px_15px] block hover:bg-[rgb(18_18_18)] w-full text-left" (click)="logout()">Logout</button>
                </div>
            </a>
        </li>
    </ul>
</nav>