<nav class="side-nav bg-black text-white fixed bottom-0 w-full p-[8px_12px]">
    <ul class="nav-list flex items-center justify-between">
        <li class="nav-item">
            <a href="#" class="nav-link p-[8px] flex items-center justify-center">
                <span class="icon-container">
                    <fa-icon [icon]="faHome" class="text-2xl"></fa-icon>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link p-[8px] flex items-center justify-center">
                <span class="icon-container">
                    <fa-icon [icon]="faCompass" class="text-2xl"></fa-icon>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link p-[8px] flex items-center justify-center">
                <span class="icon-container">
                    <fa-icon [icon]="faClapperboard" class="text-2xl"></fa-icon>
                </span>
            </a>
        </li>

        <!-- <li class="nav-item">
            <a href="#" class="nav-link p-[12px] flex items-center justify-center">
                <span class="icon-container">
                    <fa-icon [icon] = "faHeart" class="text-2xl"></fa-icon>
                </span>
            </a>
        </li> -->
        <li class="nav-item">
            <a href="#" class="nav-link p-[8px] flex items-center justify-center">
                <span class="icon-container">
                    <fa-icon [icon]="faSquarePlus" class="text-2xl"></fa-icon>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link p-[8px] flex items-center justify-center">
                <span class="icon-container">
                    <fa-icon [icon]="faComment" class="text-2xl"></fa-icon>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link p-[8px] flex items-center justify-centert">
                <span class="img-container w-[24px] h-[24px] rounded-full bg-slate-400 inline-block"></span>
            </a>
        </li>
    </ul>
</nav>