<nav class="top-nav bg-black text-white sticky w-full top-0 border-b border-b-white flex items-center justify-between p-[12px_16px]">
    <a href="#" class="font-['instagram\_font'] text-[24px] pr-[15px]">NotInstagram</a>
    <ul class="nav-list flex items-center">
        <li>
            <form action="#" class="relative items-center mr-[15px] hidden sm:flex">
                <input type="text" name="" id="" class="bg-[rgb(38,38,38)] text-[rgb(168_168_168)] p-[8px_16px_8px_40px] rounded-md" placeholder="Search">
                <span class="icon-container absolute left-[16px]">
                    <fa-icon [icon] = "faSearch" class="text-[rgb(142_142_142)]"></fa-icon>
                </span>
            </form>
            <a href="#" class="nav-link p-[12px] sm:hidden flex items-center justify-center">
                <span class="icon-container">
                    <fa-icon [icon]="faSearch" class="text-white text-xl"></fa-icon>
                </span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link p-[12px] flex items-center justify-center">
                <span class="icon-container">
                    <fa-icon [icon]="faHeart" class="text-white text-xl"></fa-icon>
                </span>
            </a>
        </li>
    </ul>
</nav>